*{
    margin: 0;
    padding: 0;
}
.main{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: 200px auto;
}
.container{
    background-color:rgb(228, 194, 194);
    padding: 30px 30px;
    border-radius: 14px;
    height: 400px;
}
form ,button{
    width: 100%;
    border-radius: 12px;
    padding: 4px 10px;
    border: none;
}

form input{
    font-size: 1rem;
    height: 2rem;
    width: 90%;
    border-radius: 12px;
    padding: 4px 10px;
    border: none;
}
.dropdown{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}
.select-container img{
    max-width: 2.5rem;
}
.btn{
    margin-top: 35px;
    background-color: rgb(183, 36, 149);
    padding: 12px;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    font-size: 1rem;
}
select{
    border-radius: 4px;
    width: 100%;
    padding: 4px;
    font-size: 1rem;
}
i{
    font-size: 1.5rem;
    margin-right: 1.4rem;
}
.msg{
    margin-top: 2rem;
    font-weight: bold;
}
.amount p{
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}